<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd&quot; >
<suite name="Suite1" verbose="1" >
  <test name="loginlogout" >
    <classes>
 <class name="com.hrms.testscripts.TC001" />
 <class name="com.hrms.testscripts.TC003" />
 <class name="com.hrms.testscripts.TC004" />
    </classes>
  </test>
 </suite>